* {
    padding: 0;
    margin: 0;
}

.formulario {
    width: 100%;
    margin-left: 15px;
}
.formulario_carga {
    margin-top: 15px;
}
.formulario_carga input {
    margin: 5px;
    width: 150px;
}
.ordenar {
    margin-top: 10px;
    text-align: center;
    width: 150px;
}

.div_productos {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
    border-radius: solid 2px black;
}
.div_articuulo {
    margin: 5px;
    border-radius: solid 2px black;
}